# Test pandas_cub manually

In this notebook, we will test pandas_cub manually.

In [1]:
import sys
sys.executable

'/home/brandon/anaconda3/envs/brandas/bin/python'

In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
import numpy as np
import brandas as pdc
import brandas_final as pdcf
import pandas as pd

In [4]:
name = np.array(['Penelope', 'Niko', 'Eleni'])
state = np.array(['Texas', 'California', 'Texas'])
height = np.array([3.6, 3.5, 5.2])
school = np.array([True, False, True])
weight = np.array([45, 40, 130])

data = {'name': name, 'state': state, 'height': height, 
        'school': school, 'weight': weight}

df = pdc.DataFrame(data)
df_final = pdcf.DataFrame(data)
df_pandas = pd.DataFrame(data)

In [5]:
df

In [6]:
df_final

In [7]:
df_pandas

       name       state  height  school  weight
0  Penelope       Texas     3.6    True      45
1      Niko  California     3.5   False      40
2     Eleni       Texas     5.2    True     130

In [8]:
pdc.DataFrame(10)

TypeError: `data` must be a python dictionary.

In [19]:
d = {'1': np.array([[1,1],[2,2]])}

In [20]:
pdc.DataFrame(d)

ValueError: values of `data` must be a 1 dimensional array